.single-services-two-item {

    padding: 30px;
}

.service-slider .single-services-two-item {
    margin-bottom: 15px;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 70px;
    right: 10px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

.feature-section .text-justify {
    text-align: justify;
}

.preloader img{
    width: 100px;
}

.job-card .job-type{
    color: #0BA02C;
    background-color: #E7F6EA;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    border-radius: 3px;

}
.job-card .read-more{
    padding: 12px 24px 13px 24px;
    text-align: center;
    width: 100%;
    justify-content: center;
    background-color: #EEF5FC;
}

.job-overview .col-4{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 15px 0;

}
.job-overview .col-4 i{
    font-size: 30px;
    color: #0A65CC;
}
.job-overview .col-4 span{
    font-size: 12px;
    font-weight: 400;
    color: #767F8C;
}
.job-overview .col-4 h4{
    font-size: 14px;
    font-weight: 500;
    color: #18191C;
}

.iframe-custom iframe{
    width: 100% !important;
}
.for-hire a{
    background-color: transparent !important;
    backdrop-filter: blur(10px);
    border: 1px solid #DBA74B;
    margin-left: 10px;
}
.is-sticky .for-hire a{
    color: #18191C;
}
.job-main{
    text-align: center;
}
.job-main i{
    font-size: 30px;
    color: #0A65CC;
}
.job-main h3{
    font-size: 23px;
    font-weight: 500;
}
.job-main span{
    font-size: 16px;
    font-weight: 400;
    color: #767F8C;
}
.job-main p{
    font-size: 16px;
    font-weight: 500;
    color: #131313;
}
.index-single-services{
    margin: 10px ;
}
.job-main .salary-title a{
    color: #0BA02C ;
}
@media(min-width: 100px) {
    .vision {
        height: 93%;
    }
}


@media(max-width: 767px) {
    .p-sm-30 {
        padding: 30px 0 !important;
    }

    .home-section.home-2.p-sm-30 {
        /* padding-top: 90px !important; */
        padding-bottom: 30px !important;
    }

    .service-main .section-title {
        margin-bottom: 0;
    }

    .footer-area.ptb-100 {
        padding-bottom: 10px;
    }

    .index-about-padd {
        padding-bottom: 50px !important;
    }

    .testimonial-custom .section-title,.blog-section .section-title {
        margin-bottom: 25px;
    }

    .about-area h6 {
        font-size: 13px;
    }

    .about-area h2 {
        font-size: 28px;
    }

    .about-area p {
        font-size: 14px;
    }

    .counter-contents h3{
        font-size: 14px;
    }
    .counter-contents h2{
        font-size: 35px;
    }
    .home-faq .faq-accordion .accordion .accordion-item .accordion-title{
        font-size: 16px;
        font-weight: 500;
    }
    .single-testimonial .testimonial-content p{
        font-size: 14px;
    }

    .section-50-padd {
        padding: 50px 0 !important;
    }
    .techvio-responsive-nav .logo img{
        width: 45px;
    }
}

@media(max-width: 500px) {
    .section-title h2 {
        font-size: 2rem;
    }
}