{% extends "web/base.html" %}
{% load static %}
{% block content %}

<!-- Start Page Title Section -->
<div class="page-title-area">
	<div class="d-table">
		<div class="d-table-cell">
			<div class="container">
				<div class="page-title-content">
					<h2>About Us</h2>
					<ul>
						<li><a href="{% url "web:index" %}">Home</a></li>
						<li>About Us</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Page Title Section -->



<!-- Start About Section -->
<section class="about-area section-padding p-sm-30">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-lg-6 col-md-12">
				<div class="about-content">
					<h6 class="sub-title">About Our Company</h6>
					<h2>Transforming Businesses, Empowering Talent: Discover Aimsumins</h2>
					<p>AIM SUMINS HR CONSULTANCY LLC was started in the year of 2021 as a freelance service provider, and established in 2023 by a team of dedicated and professional consultants. The company will put its focus on analysing the current trends of the human resources to be able to provide qualitative and right quantity of human resources with great satisfaction. Our strong HR team supports us in connecting the right talent to ensure positive results. Our focused methodologies towards workforce solutions foster competent recruiting process and improvising on talent quality delivery. And our support solutions are cost effective yet comprehensive, providing clients to arrange a list of primary facilities, and unlimited advice and support.</p>
					
					{% comment %} <div class="about-btn-box">
						<a class="default-btn" href="about.html">Learn More <span></span></a>
					</div> {% endcomment %}
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="about-image">
					<img src="{% static 'web/img/about.png' %}" alt="About image">
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Section -->

<section class="feature-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="feature-single-item vision">
					<img src="{% static "web/img/icon/feature-icon-1.svg" %}" alt="icon">
					<h3>Vision</h3>
					<p class="text-justify">Our Vision is to become one of the leading and reputed human resources consulting firm operating globally especially middle east by maintaining our standards and creating value for all our Clients.</p>
					
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature-single-item">
					<img src="{% static "web/img/icon/feature-icon-3.svg" %}" alt="icon">
					<h3>Mission</h3>
					<p class="text-justify">Our Mission is to develop long-term partnership with our Clients, and help them to transform day to day challenges into upcoming future successes. We are committed to meeting and achieving the expectations in providing extra ordinary service, awesome quality and outstanding value to our Clients.</p>
					
				</div>
			</div>
			
		</div>
	</div>
</section>

<!-- Start Team Section -->
<section class="team-area section-padding pt-50 p-sm-30">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="section-title">
					<h6 class="sub-title">Team Member</h6>
					<h2>Our Team</h2>
				</div>
			</div>
			{% for team in teams %}
			<div class="col-lg-3 col-md-6 ">
				<div class="single-team-box">
					<div class="team-image">
						<img src="{{team.image.url}}" alt="team">
						
					</div>
					<div class="team-info">
						<h3>{{team.name}}</h3>
						<span>{{team.position}}</span>
					</div>
				</div>
			</div>
			{% endfor %}
			
		</div>
	</div>
</section>
<!-- End Team Section -->


<!-- Start Counter Section -->
<section class="counter-area section-padding p-sm-30">
	<div class="container">
		<div class="row">
			{% for i in counters %}
			<div class="col-lg-3 col-md-6 col-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">{{i.number}}</span>
							{% if i.plus_icon %}
							<span>+</span>
							{% endif %}
						</h2>
						<h3 class="counter-heading">{{i.title}}</h3>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End Counter Section -->

{% endblock %}