<!doctype html>
<html lang="zxx">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
   <!-- Primary Meta Tags -->
    <title>Aim sumins: Empowering Business Growth through Innovative HR Solutions</title>
    <meta name="title" content="Aimsumins: Empowering Business Growth through Innovative HR Solutions" />
    <meta name="description" content="Unlock the potential of your business with Aimsumins, a leading HR consultancy that transcends traditional approaches. From strategic workforce planning to fostering engagement, we are your dedicated partner in driving organizational growth. Join us in shaping the future of HR where success aligns seamlessly with strategic vision." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="aimsumins.com" />
    <meta property="og:title" content="Aimsumins: Empowering Business Growth through Innovative HR Solutions" />
    <meta property="og:description" content="Unlock the potential of your business with Aimsumins, a leading HR consultancy that transcends traditional approaches. From strategic workforce planning to fostering engagement, we are your dedicated partner in driving organizational growth. Join us in shaping the future of HR where success aligns seamlessly with strategic vision." />
    <meta property="og:image" content="https://aimsumins.com/static/web/img/meta.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="aimsumins.com" />
    <meta property="twitter:title" content="Aimsumins: Empowering Business Growth through Innovative HR Solutions" />
    <meta property="twitter:description" content="Unlock the potential of your business with Aimsumins, a leading HR consultancy that transcends traditional approaches. From strategic workforce planning to fostering engagement, we are your dedicated partner in driving organizational growth. Join us in shaping the future of HR where success aligns seamlessly with strategic vision." />
    <meta property="twitter:image" content="https://aimsumins.com/static/web/img/meta.jpg" />

    <!-- Google Fonts -->
    <link href="/static/web/fonts.googleapis.com/css2ad7e.css?family=Dosis:wght@400;500;600;700;800&amp;display=swap"
        rel="stylesheet">
    <link
        href="/static/web/fonts.googleapis.com/css2e303.css?family=Catamaran:wght@300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet">
    

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "web/img/fav/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "web/img/fav//favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "web/img/fav//favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "web/img/fav//site.webmanifest" %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="{% static 'web/css/animate.min.css' %}">
    <!-- FlatIcon CSS -->
    <link rel="stylesheet" href="{% static 'web/css/flaticon.css' %}">
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="{% static 'web/css/fontawesome.min.css' %}">
    <!-- Bootstrap Icon CSS -->
    <link rel="stylesheet" href="{% static 'web/css/bootstrap-icons.css' %}">
    <!-- Mean Menu CSS -->
    <link rel="stylesheet" href="{% static 'web/css/meanmenu.css' %}">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="{% static 'web/css/magnific-popup.min.css' %}">
    <!-- Swiper Min CSS -->
    <link rel="stylesheet" href="{% static 'web/css/swiper.min.css' %}">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="{% static 'web/css/owl.carousel.min.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}?v=1.2">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'web/css/responsive.css' %}">
    <!-- custom CSS -->
    <link rel="stylesheet" href="{% static 'web/css/custom.css' %}">

</head>

<body>

    <!-- Start Preloader Section -->
    <div class="preloader">
        <div class="loader">
            <div class="shadow"></div>
            <img src="{% static 'web/img/logo1.png' %}" class="white-logo" alt="logo">
            
        </div>
    </div> 
    <!-- End Preloader Section -->

    {% include "web/partials/header.html" %}
    {% block content %}{% endblock %}
    {% include "web/partials/footer.html" %}

    <a href="https://wa.me/971508684880" class="float" target="_blank">
        <i class="fab fa-whatsapp my-float"></i>
    </a>

    <!-- Start Go Top Section -->
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>
    <!-- End Go Top Section -->

    <!-- jQuery Min JS -->
    <script src="{% static 'web/js/jquery.min.js' %}"></script>
    <!-- Popper Min JS -->
    <script src="{% static 'web/js/popper.min.js' %}"></script>
    <!-- Bootstrap Min JS -->
    <script src="{% static 'web/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Mean Menu JS  -->
    <script src="{% static 'web/js/jquery.meanmenu.js' %}"></script>
    <!-- Appear Min JS -->
    <script src="{% static 'web/js/jquery.appear.min.js' %}"></script>
    <!-- CounterUp Min JS -->
    <script src="{% static 'web/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.counterup.min.js' %}"></script>
    <!-- Owl Carousel Min JS -->
    <script src="{% static 'web/js/owl.carousel.min.js' %}"></script>
    <!-- Magnific Popup Min JS -->
    <script src="{% static 'web/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Isotope Min JS -->
    <script src="{% static 'web/js/isotope.pkgd.min.js' %}"></script>
    <!-- Swiper Min JS -->
    <script src="{% static 'web/js/swiper.min.js' %}"></script>
    <!-- WOW Min JS -->
    <script src="{% static 'web/js/wow.min.js' %}"></script>
    <!-- plugins JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'web/js/sweet.js' %}"></script>


    <!-- Main JS -->
    <script src="{% static 'web/js/main.js' %}"></script>

</body>

</html>