{% extends "web/base.html" %}
{% load static %}
{% block content %}
<!-- Start Home Section -->
<div class="home-section home-2">
	<div class="d-table">
		<div class="d-table-cell">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
						<div class="main-banner-content">
							<h1>Your Successful Business, Our Fantastic <span class="text-gradient">IT Support.</span>
							</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna
								aliqua, magna aliqua. ipsum is simply dummy text of the printing.</p>
							<div class="banner-btn">
								<a class="default-btn-one" href="services.html">Our Service <span></span></a>
								<div class="video-box">
									<a href="https://www.youtube.com/watch?v=G9TdA8d5aaU" class="popup-video video-btn">
										<i class="fa fa-play"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="banner-image">
							<img src="{% static 'web/img/home-font-2.png' %}" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="home-shape-animation">
		<div class="shape-1">
			<img src="{% static 'web/img/shape/1.png' %}" alt="shape image">
		</div>
		<div class="shape-2">
			<img src="{% static 'web/img/shape/2.png' %}" alt="shape image">
		</div>
		<div class="shape-3">
			<img src="{% static 'web/img/shape/3.png' %}" alt="shape image">
		</div>
		<div class="shape-4">
			<img src="{% static 'web/img/shape/4.png' %}" alt="shape image">
		</div>
		<div class="shape-5">
			<img src="{% static 'web/img/shape/5.png' %}" alt="shape image">
		</div>
		<div class="shape-6">
			<img src="{% static 'web/img/shape/6.png' %}" alt="shape image">
		</div>
		<div class="shape-7">
			<img src="{% static 'web/img/shape/7.png' %}" alt="shape image">
		</div>
	</div>
</div>
<!-- End Home Section -->

<!-- Start Services Two Section -->
<section class="services-section-two section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h6 class="sub-title">What We Provide</h6>
					<h2>Our Services</h2>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services-two-item">
					<div class="services-icon-box">
						<div class="default-icon">
							<img src="{% static 'web/img/icon/services-icon-1.svg' %}" alt="svg icon">
						</div>
						<div class="hover-icon">
							<img src="{% static 'web/img/icon/services-icon-hover-1.svg' %}" alt="svg icon">
						</div>
					</div>
					<div class="services-two-content">
						<h3>IT Consulting</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services-two-item">
					<div class="services-icon-box">
						<div class="default-icon">
							<img src="{% static 'web/img/icon/services-icon-2.svg' %}" alt="svg icon">
						</div>
						<div class="hover-icon">
							<img src="{% static 'web/img/icon/services-icon-hover-2.svg' %}" alt="svg icon">
						</div>
					</div>
					<div class="services-two-content">
						<h3>Cloud Solutions</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services-two-item">
					<div class="services-icon-box">
						<div class="default-icon">
							<img src="{% static 'web/img/icon/services-icon-3.svg' %}" alt="svg icon">
						</div>
						<div class="hover-icon">
							<img src="{% static 'web/img/icon/services-icon-hover-3.svg' %}" alt="svg icon">
						</div>
					</div>
					<div class="services-two-content">
						<h3>Managed IT Service</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services-two-item">
					<div class="services-icon-box">
						<div class="default-icon">
							<img src="{% static 'web/img/icon/services-icon-4.svg' %}" alt="svg icon">
						</div>
						<div class="hover-icon">
							<img src="{% static 'web/img/icon/services-icon-hover-4.svg' %}" alt="svg icon">
						</div>
					</div>
					<div class="services-two-content">
						<h3>Responsive Design</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services-two-item">
					<div class="services-icon-box">
						<div class="default-icon">
							<img src="{% static 'web/img/icon/services-icon-5.svg' %}" alt="svg icon">
						</div>
						<div class="hover-icon">
							<img src="{% static 'web/img/icon/services-icon-hover-5.svg' %}" alt="svg icon">
						</div>
					</div>
					<div class="services-two-content">
						<h3>Cyber Security</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services-two-item">
					<div class="services-icon-box">
						<div class="default-icon">
							<img src="{% static 'web/img/icon/services-icon-6.svg' %}" alt="svg icon">
						</div>
						<div class="hover-icon">
							<img src="{% static 'web/img/icon/services-icon-hover-6.svg' %}" alt="svg icon">
						</div>
					</div>
					<div class="services-two-content">
						<h3>Solving IT Problems</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Services Two Section -->

<!-- Start About Section -->
<section class="about-area bg-grey section-padding">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-lg-6 col-md-12">
				<div class="about-content">
					<h6 class="sub-title">About Our Company</h6>
					<h2>Providing Your Business With A Quality IT Service is Our Passion</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua enim ad minim</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat.</p>
					<div class="about-btn-box">
						<a class="default-btn" href="about.html">Learn More <span></span></a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="about-image">
					<img src="{% static 'web/img/about-2.png' %}" alt="About image">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Section -->

<!-- Start Portfolio Section -->
<section class="portfolio-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h6 class="sub-title">Recent Works</h6>
					<h2>Our Portfolio</h2>
				</div>
			</div>
			<div class="col-md-12">
				<div class="portfolio-list">
					<ul class="nav" id="portfolio-flters">
						<li class="filter filter-active" data-filter=".all">all</li>
						<li class="filter" data-filter=".branding">branding</li>
						<li class="filter" data-filter=".application">application</li>
						<li class="filter" data-filter=".webdesign">web design</li>
						<li class="filter" data-filter=".photography">photography</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="portfolio-container">
			<div class="row">
				<!-- portfolio-item -->
				<div class="col-lg-4 col-md-6 portfolio-grid-item all branding">
					<div class="portfolio-item">
						<img src="{% static 'web/img/portfolio/portfolio-1.jpg' %}" alt="image">
						<div class="portfolio-content-overlay">
							<p>App Store | Social Media</p>
							<h3><a href="single-portfolio.html">Creative Web Design</a></h3>
						</div>
					</div>
				</div>
				<!-- portfolio-item -->
				<div class="col-lg-4 col-md-6 portfolio-grid-item all photography">
					<div class="portfolio-item">
						<img src="{% static 'web/img/portfolio/portfolio-2.jpg' %}" alt="image">
						<div class="portfolio-content-overlay">
							<p>App Store | Social Media</p>
							<h3><a href="single-portfolio.html">Creative Web Design</a></h3>
						</div>
					</div>
				</div>
				<!-- portfolio-item -->
				<div class="col-lg-4 col-md-6 portfolio-grid-item all branding webdesign">
					<div class="portfolio-item">
						<img src="{% static 'web/img/portfolio/portfolio-3.jpg' %}" alt="image">
						<div class="portfolio-content-overlay">
							<p>App Store | Social Media</p>
							<h3><a href="single-portfolio.html">Creative Web Design</a></h3>
						</div>
					</div>
				</div>
				<!-- portfolio-item -->
				<div class="col-lg-4 col-md-6 portfolio-grid-item all webdesign">
					<div class="portfolio-item">
						<img src="{% static 'web/img/portfolio/portfolio-4.jpg' %}" alt="image">
						<div class="portfolio-content-overlay">
							<p>App Store | Social Media</p>
							<h3><a href="single-portfolio.html">Creative Web Design</a></h3>
						</div>
					</div>
				</div>
				<!-- portfolio-item -->
				<div class="col-lg-4 col-md-6 portfolio-grid-item all application">
					<div class="portfolio-item">
						<img src="{% static 'web/img/portfolio/portfolio-5.jpg' %}" alt="image">
						<div class="portfolio-content-overlay">
							<p>App Store | Social Media</p>
							<h3><a href="single-portfolio.html">Creative Web Design</a></h3>
						</div>
					</div>
				</div>
				<!-- portfolio-item -->
				<div class="col-lg-4 col-md-6 portfolio-grid-item all application photography">
					<div class="portfolio-item">
						<img src="{% static 'web/img/portfolio/portfolio-6.jpg' %}" alt="image">
						<div class="portfolio-content-overlay">
							<p>App Store | Social Media</p>
							<h3><a href="single-portfolio.html">Creative Web Design</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Portfolio Section -->

<!-- Start Works Process Section -->
<section class="workprocess-section bg-grey section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h6 class="sub-title">4 Step Work Process</h6>
					<h2>Working Process</h2>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="workprocess-single-item">
					<div class="workprocess-icon-box">
						<img src="{% static 'web/img/icon/workprocess-icon-1.svg' %}" alt="icon">
					</div>
					<div class="workprocess-info">
						<h3>Discover</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							dolore magna aliqua.</p>
					</div>
					<div class="workprocess-number-bg"><span>01</span></div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="workprocess-single-item">
					<div class="workprocess-icon-box">
						<img src="{% static 'web/img/icon/workprocess-icon-2.svg' %}" alt="icon">
					</div>
					<div class="workprocess-info">
						<h3>Design & Development</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							dolore magna aliqua.</p>
					</div>
					<div class="workprocess-number-bg"><span>02</span></div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="workprocess-single-item">
					<div class="workprocess-icon-box">
						<img src="{% static 'web/img/icon/workprocess-icon-3.svg' %}" alt="icon">
					</div>
					<div class="workprocess-info">
						<h3>Install & Testing</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							dolore magna aliqua.</p>
					</div>
					<div class="workprocess-number-bg"><span>03</span></div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="workprocess-single-item">
					<div class="workprocess-icon-box">
						<img src="{% static 'web/img/icon/workprocess-icon-4.svg' %}" alt="icon">
					</div>
					<div class="workprocess-info">
						<h3>Project Delivery</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							dolore magna aliqua.</p>
					</div>
					<div class="workprocess-number-bg"><span>04</span></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Works Process Section -->

<!-- Start Counter Section -->
<section class="counter-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">23</span>
							<span>+</span>
						</h2>
						<h3 class="counter-heading">Years Helping Business</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">250</span>
							<span>+</span>
						</h2>
						<h3 class="counter-heading">Working Employees</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">4500</span>
							<span>+</span>
						</h2>
						<h3 class="counter-heading">Complete Projects</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">3000</span>
							<span>+</span>
						</h2>
						<h3 class="counter-heading">Happy Customers</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Counter Section -->

<!-- Start Testimonial Section -->
<section class="testimonial-section section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h6 class="sub-title">Our Testimonial</h6>
					<h2>Client Feedback</h2>
				</div>
			</div>
			<div class="col-lg-12 col-md-12">
				<div class="testimonial-slider owl-carousel owl-theme">
					<!-- testimonials item -->
					<div class="single-testimonial">
						<div class="rating-box">
							<ul>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
						<div class="testimonial-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
						</div>
						<div class="avatar">
							<img src="{% static 'web/img/client/testimonial-1.jpg' %}" alt="testimonial images">
						</div>
						<div class="testimonial-bio">
							<div class="bio-info">
								<h3>Saabir al-Obeid</h3>
								<span>Turkey</span>
							</div>
						</div>
					</div>
					<!-- testimonials item -->
					<div class="single-testimonial">
						<div class="rating-box">
							<ul>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
						<div class="testimonial-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
						</div>
						<div class="avatar">
							<img src="{% static 'web/img/client/testimonial-2.jpg' %}" alt="testimonial images">
						</div>
						<div class="testimonial-bio">
							<div class="bio-info">
								<h3>Zahra Burnett</h3>
								<span>United States</span>
							</div>
						</div>
					</div>
					<!-- testimonials item -->
					<div class="single-testimonial">
						<div class="rating-box">
							<ul>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
						<div class="testimonial-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
						</div>
						<div class="avatar">
							<img src="{% static 'web/img/client/testimonial-3.jpg' %}" alt="testimonial images">
						</div>
						<div class="testimonial-bio">
							<div class="bio-info">
								<h3>Stevie Wills</h3>
								<span>Germany</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Testimonial Section -->

<!-- Start Faq Section -->
<section class="faq-section home-faq bg-grey section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="faq-img">
					<img src="{% static 'web/img/faq.png' %}" alt="images">
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="section-title">
					<h6 class="sub-title">Faqs</h6>
					<h2>Short Faqs</h2>
				</div>
				<div class="faq-accordion first-faq-box">
					<ul class="accordion">
						<li class="accordion-item">
							<a class="accordion-title active" href="javascript:void(0)"> <i class="fa fa-plus"></i> How
								long does a website redesign take?</a>
							<p class="accordion-content show">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
								sed do eiusmod tempor labore et dolore magna aliqua. enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat officia deserunt
								mollit anim laborum</p>
						</li>
						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)"> <i class="fa fa-plus"></i> What
								happens if my site breaks?</a>
							<p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor labore et dolore magna aliqua. enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat officia deserunt
								mollit anim laborum</p>
						</li>
						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)"> <i class="fa fa-plus"></i> Can you
								handle ongoing maintenance?</a>
							<p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor labore et dolore magna aliqua. enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat officia deserunt
								mollit anim laborum</p>
						</li>
						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)"> <i class="fa fa-plus"></i> Do you only
								create WordPress websites?</a>
							<p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor labore et dolore magna aliqua. enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat officia deserunt
								mollit anim laborum</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Faq Section -->

<!-- Start Hire Section -->
<section class="hire-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-md-12">
				<div class="hire-content">
					<h6 class="sub-title">Want to work with us?</h6>
					<h2>Digitally Transform & Grow Your Business</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud consectetur voluptatem
						accusantium doloremque adipiscing elit.</p>
					<div class="hire-btn">
						<a class="default-btn" href="tel:12345678">Call Now<span></span></a>
						<a class="default-btn-one" href="contact.html">Contact Us<span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Hire Section -->

<!-- Start Blog Section -->
<section class="blog-section bg-grey pt-100 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h6 class="sub-title">Blog & Article</h6>
					<h2>Recent Blog</h2>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="blog-single-item">
					<div class="blog-image">
						<a href="single-blog.html">
							<img src="{% static 'web/img/blog/blog-1.jpg' %}" alt="image">
						</a>
					</div>
					<div class="blog-description">
						<ul class="blog-info">
							<li>
								<a href="#"><i class="bi bi-person-circle"></i> Author</a>
							</li>
							<li>
								<a href="#"><i class="bi bi-calendar-check"></i> 17 June 2023</a>
							</li>
						</ul>
						<div class="blog-text">
							<h3>
								<a href="single-blog.html">
									Planning for a Safe Return to the Workplace IT Solutions
								</a>
							</h3>
							<p>Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut
								labore dolore magna aliqua</p>
							<div class="blog-btn"> <a href="single-blog.html" class="read-more"><i
										class="bi bi-arrow-right-short"></i> Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="blog-single-item">
					<div class="blog-image">
						<a href="single-blog.html">
							<img src="{% static 'web/img/blog/blog-2.jpg' %}" alt="image">
						</a>
					</div>
					<div class="blog-description">
						<ul class="blog-info">
							<li>
								<a href="#"><i class="bi bi-person-circle"></i> Author</a>
							</li>
							<li>
								<a href="#"><i class="bi bi-calendar-check"></i> 20 June 2023</a>
							</li>
						</ul>
						<div class="blog-text">
							<h3>
								<a href="single-blog.html">
									Announcing Our New Smiles for Success Charity
								</a>
							</h3>
							<p>Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut
								labore dolore magna aliqua</p>
							<div class="blog-btn">
								<a href="single-blog.html" class="read-more"><i class="bi bi-arrow-right-short"></i>
									Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="blog-single-item">
					<div class="blog-image">
						<a href="single-blog.html">
							<img src="{% static 'web/img/blog/blog-3.jpg' %}" alt="image">
						</a>
					</div>
					<div class="blog-description">
						<ul class="blog-info">
							<li>
								<a href="#"><i class="bi bi-person-circle"></i> Author</a>
							</li>
							<li>
								<a href="#"><i class="bi bi-calendar-check"></i> 25 June 2023</a>
							</li>
						</ul>
						<div class="blog-text">
							<h3>
								<a href="single-blog.html">
									Machine Learning Applications for Every Industry
								</a>
							</h3>
							<p>Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut
								labore dolore magna aliqua</p>
							<div class="blog-btn">
								<a href="single-blog.html" class="read-more"><i class="bi bi-arrow-right-short"></i>
									Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Blog Section -->

<!-- Start Partner section -->
<section class="partner-section pt-100 pb-70">
	<div class="container">
		<div class="partner-title">
			<h6 class="sub-title">Trusted By Over 1500</h6>
			<h2>Our Customers</h2>
		</div>
		<div class="partner-list">
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'web/img/partner/client-1.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'web/img/partner/client-2.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'web/img/partner/client-3.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'web/img/partner/client-4.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'web/img/partner/client-5.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'web/img/partner/client-6.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'web/img/partner/client-7.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'web/img/partner/client-8.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'web/img/partner/client-9.png' %}" alt="image">
				</a>
			</div>
		</div>
	</div>
</section>
<!-- End Partner section -->



{% endblock %}