{% load static %}

<!-- Start Footer & Subscribe Section -->
<section class="footer-subscribe-wrapper">
    <!-- Start Footer Section -->
    <div class="footer-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <a class="footer-logo" href="#">
                            <img src="{% static 'web/img/logo.png' %}" class="white-logo" alt="logo">
                        </a>
                        <p>Empower Your Business with Aimsumins - Your Trusted Partner in Strategic HR Solutions and Organizational Excellence.</p>
                        <ul class="footer-social">
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=61555417742074&mibextid=ZbWKwL"> <i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://t.me/+qgUCt9ND1iIwNTBk"> <i class="fab fa-telegram"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/aimsumins"> <i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/aimsumins/"> <i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/aimsumins-hr-consultancy-2012842a9/"> <i class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Our Services</h3>
                        </div>
                        <ul class="footer-quick-links">
                            {% for i in footer_services %}
                            <li><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li>
                            {% endfor %}
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul class="footer-quick-links">
                            <li><a href="{% url "web:about" %}">About Us</a></li>
                            <li><a href="{% url "web:services" %}">Services</a></li>
                            <li><a href="{% url "web:portfolio" %}">Portfolio</a></li>
                            <li><a href="{% url "web:blogs" %}">Blogs</a></li>
                            <li><a href="{% url "web:contact" %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Contact Info</h3>
                        </div>
                        <div class="footer-info-contact">
                            <i class="flaticon-phone-call"></i>
                            <h3>Phone</h3>
                            <span><a href="tel:+971509249880">971 509249880</a></span><br>
                            <span><a href="tel:+971563238443">971 563238443</a></span>
                        </div>
                        <div class="footer-info-contact">
                            <i class="flaticon-envelope"></i>
                            <h3>Email</h3>
                            <span><a href="mailto:hr@aimsumins.com">hr@aimsumins.com</a></span><br>
                            <span><a href="mailto:admin@aimsumins.com">admin@aimsumins.com</a></span>
                        </div>
                        <div class="footer-info-contact">
                            <i class="flaticon-placeholder"></i>
                            <h3>Address</h3>
                            <span>Ofiice No.304, Fast Business Center, Nr.Al Tawar Center, Al Qusais-2, Dubia, UAE</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Section -->
</section>
<!-- End Footer & Subscribe Section -->

<!-- Start Copy Right Section -->
<div class="copyright-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <p><i class="far fa-copyright"></i> {% now "Y" %} aimsumins - All Rights Reserved.</p>
            </div>
           
        </div>
    </div>
</div>
<!-- End Copy Right Section -->